// stylelint-disable
.single-job .block-icon-list-cols + .wp-block-image {
  margin-top: var(--padding-container-vertical);
}

.single-job .block-image-content .container {
  overflow: visible;
}

body.postid-11333,
body.postid-11453 {
  .block-images + .block-icon-list-cols > .container {
    padding-top: calc(var(--padding-container-vertical) / 2);
  }

  .block-images > .container {
    padding-bottom: 0;
    padding-top: var(--padding-container-vertical);
  }
}

.single-job .block.block-process .head > h2::after {
  display: none !important;
}

.single-job .block.block-process .head > h2 {
  line-height: 1.23 !important;
  text-indent: unset !important;
  visibility: visible !important;
}
