.block-icon-list-cols .container {
  padding-bottom: 0;
  padding-top: 0;

  ul {
    display: grid;
    gap: 2rem;
    list-style-image: url('../svg/checkmark-round-dark-mode.svg');
    margin: 0;

    @media (max-width: $container-mobile) {
      gap: 2rem;
      list-style-image: url('../svg/checkmark-round-dark-mode.svg');
    }
  }

  span {
    color: var(--color-text);
    left: 15px;
    position: relative;
    top: -6px;
  }

  h2 {
    font-size: var(--font-size-36);
    margin-bottom: 4rem;
  }

  @media (max-width: $container-ipad) {
    .cols {
      gap: 6rem;
    }
  }
}
