// stylelint-disable no-descending-specificity
.block-background-petrol-gradient .vimeo-iframe-wrapper,
.block-background-petrol-gradient img {
  opacity: .22;

  @media (max-width: $container-mobile) {
    opacity: .12;
  }
}

.block-single.is-old {
  padding-top: 3rem;

  // stylelint-disable-next-line
  .article-content img.alignnone {
    height: auto;
    width: 100%;
  }

  @media (max-width: $container-mobile) {
    padding-top: 6rem;
  }
}

// Blog font family, size and line height
.block-single,
.block-editor-writing-flow,
.block-editor-writing-flow .wp-block-paragraph.block-editor-rich-text__editable,
.block-single .article-content p {
  font-family: var(--font-circular);
  font-size: var(--font-size-19);
  line-height: 1.7;
}

.block-editor-writing-flow,
.block-single {
  // Defaults
  p,
  dd,
  dt,
  figcaption,
  hr,
  small,
  ol,
  ul,
  li,
  kbd,
  pre,
  samp,
  code,
  th,
  td,
  table,
  tr {
    font-family: var(--font-circular);
    font-size: var(--font-size-19);
    line-height: 1.7;
  }
}

// Blog headings
.block-single .article-content h1,
.block-single .article-content h2,
.block-single .article-content h3,
.block-single .article-content h4,
.block-single .article-content h5,
.block-single .article-content h6 {
  font-family: var(--font-circular);
  line-height: 1.32;
  margin-bottom: 0;
  margin-top: 4rem;
}

.block-single .article-content h2 {
  @media (min-width: 700px) {
    --font-size-h2: 26px;
  }
}

.block-hero-single {
  align-items: center;
  display: flex;
  padding-bottom: 12rem;
  padding-top: 12rem;

  .has-video.image-background > img {
    opacity: 0;
  }

  .container {
    height: 100%;

    // Offset nav height (manually calculated so that the same amount remains top and bottom)
    margin-top: 3.7rem;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 5;

    @media (max-width: $container-mobile) {
      margin-top: 1rem;
    }
  }

  .content {
    margin-left: auto;
    margin-right: auto;
    max-width: 870px;
  }

  h1,
  p {
    color: var(--color-white);
    margin: 0;
  }

  h1 {
    font-size: var(--font-size-62);
    font-weight: var(--font-weight-semibold);
    line-height: 1.23;
    margin-bottom: 4rem;
  }

  p {
    font-family: var(--font-circular);
    font-size: var(--font-size-20);

    @media (min-width: 700px) {
      line-height: 1.7;
    }
  }

  .date {
    font-size: var(--font-size-17);
  }

  p.block-title-pre {
    font-size: var(--font-size-17);
    margin-bottom: 2.7rem;
    margin-top: 0;
  }

  .notification-box {
    bottom: -5rem;
    display: flex;
    justify-content: center;
    left: 50%;
    max-width: $width-grid-base;
    padding-left: var(--padding-container-horizontal);
    padding-right: var(--padding-container-horizontal);
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
    z-index: 3;
  }

  .box {
    align-items: center;
    background-color: var(--color-white);
    box-shadow: 0 2px 26px 0 rgb(22 24 38 / .07);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    justify-content: center;
    padding: 3.2rem;
    text-align: center;
    width: 100%;

    @media (max-width: $container-mobile) {
      padding: 2.4rem;
    }
  }

  .box p {
    color: var(--color-heading);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-bold);

    @media (max-width: 700px) {
      font-size: var(--font-size-16);
    }
  }

  .box svg {
    color: var(--color-java);
  }

  @media (min-width: 700px) {
    min-height: 90rem;
    padding-bottom: 22rem;
    padding-top: 22rem;
  }

  @media (max-width: 700px) {
    &.is-old {
      padding-bottom: 14.8rem;
    }
  }
}

.block-single .author-card {
  padding-bottom: 3.3rem;
}

.block-single .author {
  align-items: center;
  border: 0;
  box-shadow: none;
  display: flex;
  font-weight: var(--font-weight-semibold);
  gap: 2.7rem;
}

.block-single .author span {
  color: var(--color-paragraph);
}

.block-single .author .writtenby {
  color: var(--color-cool-grey);
  font-weight: var(--font-weight-regular);
}

.block-single .author-card img {
  background-color: var(--color-background-block);
  border-radius: 50%;
  box-shadow: 4px 4px 10px 0 rgb(0 0 0 / .07);
  height: 74px;
  min-width: 74px;
  width: 74px;

  @media (max-width: $container-mobile) {
    height: 64px;
    min-width: 64px;
    width: 64px;
  }
}

// stylelint-disable-next-line
.block-single .author-card p {
  font-size: var(--font-size-18);
  margin: 0;

  @media (max-width: 420px) {
    font-size: var(--font-size-14);
  }
}

.entry-footer {
  margin-left: auto;
  margin-right: auto;
  max-width: $width-max-article;
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
}

.site-main .entry-author {
  display: grid;
  gap: 5rem;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1.5fr);
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);

  img {
    height: auto;
    width: 100%;
  }

  .author-info {
    align-self: center;
  }

  h3 {
    margin-bottom: 1rem;
  }

  .job-title {
    color: var(--color-light-grey);
    font-size: var(--font-size-16);
    margin-top: 1rem;
  }

  @media (max-width: $container-desktop) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (max-width: $container-ipad) {
    grid-template-columns: minmax(0, 1fr);
    padding-bottom: var(--padding-container-vertical);
  }
}

.guest-post-author-card {
  align-items: center;
  display: flex;
  gap: 4rem;

  img {
    border-radius: 100px;
    flex-shrink: 0;
    height: 120px;
    width: 120px;
  }

  h3 {
    font-size: var(--font-size-20);
    margin-bottom: 1.5rem;
  }

  p {
    font-size: var(--font-size-16);
    margin-top: 1.5rem;
  }
}

.block-blog-relevant {
  // stylelint-disable-next-line
  background-color: #22272f;

  h2 {
    @include heading-42();
    // This has always white color as it's always dark, even on light mode
    color: var(--color-white);
    margin-bottom: 8rem;
    margin-top: 0;
    max-width: 100rem;
  }

  .cols {
    display: grid;
    gap: 6.4rem;

    @media (min-width: $container-ipad) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media (max-width: $container-ipad-landscape) {
      gap: 4rem;
    }
  }

  .col {
    position: relative;
  }

  .col .h-entry-content {
    @include box-post();

    // This has always white color as it's always dark, even on light mode
    color: var(--color-white);

    .has-text-gradient {
      @include text-gradient-light();
    }
  }
}

// Legacy stuff for old blog posts
.fa-thumbs-up {
  background-image: url('data:image/svg+xml, %0A%3Csvg class="thumbs thumbs-up" fill="%2323a96e" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath d="M15.43 8.814C16.238 5.531 16.682 0 13.233 0c-1.861 0-2.35 1.668-2.833 3.329-1.971 6.788-5.314 7.342-8.4 7.743V21c3.503 0 5.584.729 8.169 1.842 1.257.541 3.053 1.158 5.336 1.158 2.538 0 4.295-.997 5.009-3.686.5-1.877 1.486-7.25 1.486-8.25 0-1.649-1.168-2.446-2.594-2.507-1.21-.051-2.87-.277-3.976-.743zm3.718 4.321l-1.394.167s-.609 1.109.141 1.115c0 0 .201.01 1.069-.027 1.082-.046 1.051 1.469.004 1.563l-1.761.099c-.734.094-.656 1.203.141 1.172 0 0 .686-.017 1.143-.041 1.068-.056 1.016 1.429.04 1.551-.424.053-1.745.115-1.745.115-.811.072-.706 1.235.109 1.141l.771-.031c.822-.074 1.003.825-.292 1.661-1.567.881-4.685.131-6.416-.614C8.72 20.041 6.521 19.072 4 19v-6c3.263-.749 6.329-2.254 8.321-9.113C13.219.795 14 1.956 14 4.461c0 2.071-.49 3.786-.921 5.533 1.061.543 3.371 1.402 6.12 1.556 1.055.059 1.025 1.455-.051 1.585z"%3E%3C/path%3E%3C/svg%3E%0A');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  display: inline-flex;
  font-size: 24px;
  height: 24px;
  margin-right: 7px;
  position: relative;
  top: 4px;
  width: 24px;
}

.fa-thumbs-down {
  background-image: url('data:image/svg+xml, %0A%3Csvg class="thumbs thumbs-down" fill="%23ef4534" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-labelledby="thumbs-down-title"%3E%3Cpath d="M19.406 14.442c1.426-.06 2.594-.858 2.594-2.506 0-1-.986-6.373-1.486-8.25C19.8.997 18.043 0 15.505 0c-2.283 0-4.079.617-5.336 1.158C7.584 2.271 5.504 3 2 3v9.928c3.086.401 6.43.956 8.4 7.744.483 1.66.972 3.328 2.833 3.328 3.448 0 3.005-5.531 2.196-8.814 1.107-.466 2.767-.692 3.977-.744zm-.207-1.992c-2.749.154-5.06 1.013-6.12 1.556.431 1.747.921 3.462.921 5.533 0 2.505-.781 3.666-1.679.574C10.328 13.254 7.264 11.749 4 11V5c2.521-.072 4.72-1.041 6.959-2.005 1.731-.745 4.849-1.495 6.416-.614 1.295.836 1.114 1.734.292 1.661l-.771-.032c-.815-.094-.92 1.068-.109 1.141 0 0 1.321.062 1.745.115.976.123 1.028 1.607-.04 1.551-.457-.024-1.143-.041-1.143-.041-.797-.031-.875 1.078-.141 1.172 0 0 .714.005 1.761.099s1.078 1.609-.004 1.563c-.868-.037-1.069-.027-1.069-.027-.75.005-.874 1.028-.141 1.115l1.394.167c1.075.13 1.105 1.526.05 1.585z"%3E%3C/path%3E%3C/svg%3E%0A');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  display: inline-flex;
  font-size: 24px;
  height: 24px;
  margin-right: 7px;
  position: relative;
  top: 4px;
  width: 24px;
}
