body.page-template-template-upkeep-landing {

  // stylelint-disable-next-line
  background-color: #1e4348 !important;
  // stylelint-disable-next-line
  background-image: linear-gradient(159deg, #1e4348 0%, rgba(30, 32, 38, .734) 35%, #1e4348 65%, #1e2026 100%) !important;
  // We don't use the toggle here
  // stylelint-disable-next-line
  .dark-mode-footer-toggle {
    display: none;
  }

  .site-footer,
  .landing-upkeep:not(.archive-reference) {
    // stylelint-disable-next-line declaration-no-important
    background: transparent !important;

    section {
      // stylelint-disable-next-line declaration-no-important
      background: transparent !important;
    }
  }

  .site-footer .certificates > ul {
    // stylelint-disable-next-line
    border-color: #2a595e;
  }

  // Logo carousel
  .carousel {
    overflow: hidden;
    padding: 40px 0;
    position: relative;
  }

  .carousel-track {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 80px;
    height: 40px;
    will-change: transform;
  }

  .carousel-track img {
    filter: invert(58%) sepia(8%) saturate(343%) hue-rotate(174deg) brightness(89%) contrast(87%);
    flex-shrink: 0;
    height: 40px;
    opacity: .7;
    transition: opacity .3s;
  }

  .carousel-track img:focus,
  .carousel-track img:hover {
    opacity: 1;
  }

  .carousel-track img.size-s {
    height: 32px;
  }

  .carousel-track img.size-xs {
    height: 24px;
  }

  .carousel-track img.size-l {
    height: 60px;
  }

  .carousel-track img.size-xl {
    height: 80px;
  }
}

.upkeep-background {
  height: 100%;
  left: 0;
  opacity: 1;
  overflow: visible;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;

  svg {
    bottom: auto;
    height: 100%;
    left: auto;
    mix-blend-mode: overlay;
    opacity: .05;
    position: absolute;
    right: -30%;
    top: 20%;
    width: 100%;

    path {
      position: relative;

      &::after {
        animation: shine 4s ease-in-out infinite;
        // stylelint-disable-next-line
        background: linear-gradient(60deg, transparent 0%, rgba(255, 255, 255, .2) 50%, transparent 100%);
        content: '';
        height: 100%;
        left: -100%;
        position: absolute;
        top: 0;
        width: 50%;
      }
    }
  }
}

@keyframes shine {
  0% {
    transform: translateX(-100%) rotate(45deg);
  }

  100% {
    transform: translateX(200%) rotate(45deg);
  }
}
