// stylelint-disable no-descending-specificity, selector-max-specificity, selector-max-class, selector-max-combinators, selector-max-compound-selectors
// Default theme
body.template-ama.template-ama-2023 {
  .site-main > .container.ama .likes .button {
    align-items: center;
    display: flex;
    justify-content: center;

    + span {
      align-items: center;
      display: flex;
    }
  }

  .ama-header .container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;

    // stylelint-disable-next-line
    .ama-header-text {
      margin: 0;
    }

    > div {
      display: grid;
      justify-content: center;
      justify-self: center;
      max-width: 50rem;
      padding: 0 2rem;
      text-align: center;
    }

    @media (max-width: $container-mobile) {
      gap: 1rem;
    }
  }

  .ama-header {
    background-image: url('../../img/ama-hero-2023.jpg');
  }

  .form textarea {
    background-color: var(--color-background-input-field);
    border-color: var(--color-border-forms);
    border-radius: var(--border-radius-input-field);
    border-style: solid;
    border-width: var(--border-width-input-field);
    color: var(--color-form-text);
    font-family: var(--font-paragraph);
    font-size: var(--font-size-input-fields);
    line-height: var(--form-line-height);
    padding: var(--form-padding-vertical) var(--form-padding-horizontal);
    position: relative;
    text-decoration: none;
    transition: background .55s;

    // stylelint-disable-next-line
    &:focus-visible {
      outline: none;
    }
  }

  input[type="reset"],
  input[type="submit"],
  input[type="button"],
  .button {
    @include button();
    background-color: var(--color-mint);
    border: 0;
    border-color: var(--color-mint);
    border-radius: 84px;
    color: var(--color-midnight);
    font-size: var(--font-size-20);
    transition: all .18s;

    &:focus,
    &:hover {
      background-color: var(--color-button-background-hover);
      border: 0;
      box-shadow: 0 0 0 3px var(--color-button-background-hover);
    }

    @media (max-width: $container-mobile) {
      @include button-size-huge();
      border-radius: 0;
      // stylelint-disable-next-line
      font-size: 18px !important;

      // stylelint-disable-next-line
      padding: 1.5rem 0 !important;
      width: 100%;
    }
  }

  .button.button-large {
    @include button-size-large();
    border: 0;
  }

  .sponsor.footer {
    align-items: center;
    display: flex;
    gap: 2rem;

    p {
      margin: 0;
    }

    img {
      height: auto;
      max-width: 10rem;
      min-width: 10rem;
      width: 100%;

      @media (max-width: $container-mobile) {
        max-width: 8rem;
        min-width: 8rem;
      }
    }

    @media (max-width: $container-mobile) {
      align-items: flex-start;
    }
  }

  @media (max-width: $container-mobile) {
    .info-area,
    .form {
      margin-top: 4rem;
    }

    .ama-header .ama-header-logo svg {
      height: auto;
      max-width: 180px;
      width: 100%;
    }
  }
}

// Dark theme
@media (prefers-color-scheme: dark) {
  :root {
    --color-borders: rgba(255 255 255 / .1);
  }

  .wp-block-image figcaption {
    color: var(--color-text);
  }

  body.template-ama.template-ama-2023 {
    background-color: var(--color-dark-navy);
    background-image: linear-gradient(239.71deg, rgb(126 255 225 / .15) 5.92%, rgb(28 30 38 / .15) 56.09%, rgb(28 30 38 / .15) 109.5%);

    .block {
      --color-text: var(--color-white);
      --color-text-block: var(--color-white);
      --color-paragraph: var(--color-white);
      --color-heading: var(--color-white);
      --color-link-text-hover: var(--color-white-two);
      background-color: transparent;
    }

    .site-main {
      background-color: transparent;
    }

    .form textarea {
      background-color: transparent;
      border: 1px solid var(--color-mint);
      border-radius: 0;
      color: var(--color-mint);
      font-size: var(--font-size-18);
      max-width: unset;

      &:focus {
        border-color: var(--color-java);

        &::placeholder {
          color: var(--color-java);
        }
      }

      &:hover,
      &:focus {
        background-color: transparent;
      }

      &::placeholder {
        color: var(--color-mint);
        font-size: var(--font-size-18);
        opacity: .5;
      }
    }

    .form input[type="submit"] {
      @include button-size-large();
      background-color: var(--color-mint);
      border-color: var(--color-mint);
      border-radius: 0;
      color: var(--color-midnight);
      font-size: var(--font-size-20);

      &:focus,
      &:hover {
        background-color: var(--color-button-background-hover);
        box-shadow: 0 0 0 3px var(--color-button-background-hover);
      }
    }
  }
}
