// Pricing Hero block styles
// Loaded on both frontend and editor

.block-pricing-hero {
  padding-bottom: 0;
  padding-top: var(--padding-container-vertical);

  .container {
    padding-bottom: 0;
    padding-top: 0;
  }

  .content {
    max-width: 1000px;
  }

  h1.prefix {
    color: var(--color-mint);
    font-size: var(--font-size-14);
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 27px;
    text-transform: uppercase;
  }

  h2 {
    font-size: clamp(48px, 6vw, 90px);
    font-weight: 700;
    letter-spacing: -0.9px;
    line-height: 1.1;
    margin-bottom: 27px;
  }

  .ingress {
    font-size: var(--font-size-30);
    line-height: 1.7;
    max-width: 900px;

    @media (max-width: 600px) {
      font-size: var(--font-size-22);
    }
  }

  .button-wrapper {
    margin-top: 25px;
  }

  .button-mint {
    background-color: var(--color-mint);
    border: 1px solid var(--color-mint);
    border-radius: 84px;
    color: var(--color-dark-navy);
    font-size: var(--font-size-24);
    font-weight: 600;
    padding: 20px 41px;
    transition: all 0.18s;

    @media (max-width: 600px) {
      font-size: var(--font-size-18);
      padding: 16px 32px;
    }

    &:hover,
    &:focus {
      background-color: var(--color-button-background-hover);
      border-color: var(--color-button-background-hover);
      box-shadow: 0 0 0 3px var(--color-button-background-hover);
      color: var(--color-button-hover);
    }
  }
}
