.block-carousel {
  background-color: var(--color-light-mint);

  h2 {
    color: var(--color-petrol);
    font-size: var(--font-size-62);
  }

  ul,
  li {
    list-style: none;
    margin: 0;
  }

  img {
    height: auto;
    width: 100%;
  }

  .swiper,
  .container {
    overflow: visible;
  }

  .swiper-slide {
    opacity: 0.2;
    transition: opacity $transition-duration ease-in-out;
  }

  .swiper-slide.swiper-slide-active {
    opacity: 1;
  }

  .swiper-controls {
    margin: 0;
  }

  .head {
    gap: 3rem;

    @media (max-width: $container-mobile) {
      flex-wrap: wrap;
    }
  }

  // Alt carousel style
  &.carousel-style-alt {
    background-color: transparent;

    .container {
      padding-top: 0;
      padding-bottom: 0;
    }

    .swiper-controls {
      padding: 3rem 0;
    }

    .swiper-wrapper {
      @media (min-width: $width-max-mobile) {
        max-height: 650px;
      }
    }

    .swiper-slide img {
      @media (min-width: $width-max-mobile) {
        height: 650px;
        object-fit: cover;
        object-position: center center;
      }
    }
  }
}

// stylelint-disable-next-line
.block.block-image-list + .is-skip-link + .block.block-carousel .container {
  padding-top: 0;
}
