// Font family settings for Gutenberg
@include fontface(
  'Inter',
  '../fonts/inter-400',
  400
);
@include fontface(
  'Inter',
  '../fonts/inter-400-italic',
  400,
  italic
);
@include fontface(
  'Inter',
  '../fonts/inter-500',
  500
);
@include fontface(
  'Inter',
  '../fonts/inter-600',
  600
);
@include fontface(
  'Inter',
  '../fonts/inter-700',
  700
);
@include fontface(
  'Circular',
  '../fonts/circular-400',
  400
);
@include fontface(
  'Circular',
  '../fonts/circular-400-italic',
  400,
  italic
);
@include fontface(
  'Circular',
  '../fonts/circular-500',
  500
);
@include fontface(
  'Circular',
  '../fonts/circular-500-italic',
  500,
  italic
);
@include fontface(
  'Circular',
  '../fonts/circular-600',
  600
);
@include fontface(
  'Circular',
  '../fonts/circular-600-italic',
  600,
  italic
);
@include fontface(
  'Circular',
  '../fonts/circular-700',
  700
);
@include fontface(
  'Circular',
  '../fonts/circular-700',
  800
);
@include fontface(
  'Circular',
  '../fonts/circular-900',
  900
);
@include fontface(
  'SF Mono',
  '../fonts/sfmono-regular',
  400
);
