// Radial gradient for front page hero area
.radial-gradient-absolute {
  --color-gradient-start: var(--color-midnight);
  --color-gradient-end: var(--color-dark-navy);
  background-image: radial-gradient(at center,var(--color-gradient-start),var(--color-gradient-end));
  height: 15000px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100vw;
}

.radial-gradient-absolute.radial-gradient {
  opacity: 1;
}

// Radial gradient animation for call to action background
.has-radial-gradient-animation {
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-name: gradient;
  animation-timing-function: ease;
  background-image: linear-gradient(-45deg,#4d4f63,var(--color-dark-navy),var(--color-midnight),#23d5ab);
  background-size: 400% 400%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
