@mixin heading-64() {
  // stylelint-disable-next-line
  font-size: clamp-calc($container-mobile, 1600px, 32px, 64px);
  font-weight: 500;
  letter-spacing: -.01em;
  line-height: 1.35;
  max-width: 110rem;
}

.heading-64 {
  @include heading-64();
}
