// stylelint-disable no-descending-specificity, no-duplicate-selectors
.page-id-16266 .site-main {
  padding-top: 10rem;

  .gform_wrapper {
    max-width: 80rem;
  }

  .block-form h2 {
    // stylelint-disable-next-line
    font-size: clamp(32px, -2.8px + 8.8vw, 140px);
    font-weight: var(--font-weight-bold);
    letter-spacing: -.01em;
    line-height: 1.2;
  }

  .gfield_required::after {
    color: var(--color-java);
    content: '*';
    display: inline-block;
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-bold);
    margin-left: .5rem;
  }

  .block-form p {
    grid-column: -1 / 1;
    // stylelint-disable-next-line
    max-width: 80rem !important;
  }

  .gform_footer {
    margin-top: 0;
  }

  input[type="submit"] {
    border-radius: 0;
  }

  textarea,
  input[type="email"],
  input[type="text"] {
    // stylelint-disable-next-line
    background-color: unset;
    border: 1px solid var(--color-mint);
    border-radius: 0;
    color: var(--color-mint);
    font-size: var(--font-size-18);
    max-width: unset;

    &:focus {
      border-color: var(--color-java);

      &::placeholder {
        color: var(--color-java);
      }
    }

    &:hover,
    &:focus {
      background-color: transparent;
    }

    &::placeholder {
      color: var(--color-mint);
      font-size: var(--font-size-18);
      opacity: .5;
    }
  }

  @media (max-width: $container-ipad) {
    padding-top: 5rem;
  }
}
