// CSS Variables for responsive fonts
:root {
  // Heading font sizes
  --font-size-hero: 52px;
  --font-size-h1: 40px;
  --font-size-h2: 30px;
  --font-size-h3: 24px;
  --font-size-h4: 20px;
  --font-size-h5: 16px;
  --font-size-h6: 14px;

  // Paragraph font sizes
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-17: 17px;
  --font-size-18: 18px;
  --font-size-19: 19px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-26: 26px;
  --font-size-28: 28px;
  --font-size-30: var(--font-size-h2);
  --font-size-32: 32px;
  --font-size-34: 34px;
  --font-size-36: 36px;
  --font-size-38: 38px;
  --font-size-42: 42px;
  --font-size-50: 50px;
  --font-size-52: 52px;
  --font-size-62: 62px;
  --font-size-72: 72px;

  // Element font sizes
  --font-size-default: var(--font-size-20);
  --font-size-paragraph: var(--font-size-20);
  --font-size-nav-toggle-label: 15px;
  --font-size-captions: 15px;

  // Line-heights
  --line-height-headings: 1.5;
  --line-height-core-heading: 1.23;
  --line-height-paragraph: 1.7;

  // Font weights
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-paragraph: var(--font-weight-regular);
  --font-weight-headings: var(--font-weight-semibold);

  // Code & Community specific
  --font-size-github: 14px;

  @media (max-width: 1400px) {
    --font-size-52: 48px;
    --font-size-62: var(--font-size-52);
    --font-size-72: 52px;
    --font-size-38: 30px;
  }

  @media (max-width: 1000px) {
    --font-size-52: 42px;
    --font-size-72: 42px;
    --font-size-38: 28px;
  }

  @media (max-width: 900px) {
    --font-size-26: 22px;
    --font-size-36: var(--font-size-38);
    --font-size-42: 32px;
  }

  @media (max-width: 760px) {
    --font-size-52: 38px;
    --font-size-72: 38px;
    --font-size-20: 18px;
  }

  // Element font sizes in mobile
  @media (max-width: $container-mobile) {
    --font-size-hero: 38px;
    --font-size-h1: 32px;
    --font-size-h2: 24px;
    --font-size-h3: 21px;
    --font-size-h4: 18px;
    --font-size-h5: 14px;
    --font-size-h6: 12px;
    --font-size-62: var(--font-size-h1);
    --font-size-50: var(--font-size-h2);
    --font-size-52: var(--font-size-h2);
    --font-size-42: var(--font-size-h2);
    --font-size-38: var(--font-size-h3);
    --font-size-34: 23px;
    --font-size-32: 23px;
    --font-size-28: 20px;
    --font-size-26: 18px;
    --font-size-paragraph: 18px;
    --font-size-18: 16px;
    --font-size-19: 17px;
    --font-size-24: 22px;
    --font-size-20: 17px;
    --font-size-22: 18px;
  }

  // Element font sizes in tiny phones like iPhone 5S
  @media (max-width: 420px) {
    --font-size-16: 14px;
    --font-size-nav-toggle-label: 13px;
  }
}
