@mixin text-huge() {
  font-size: clamp-calc($container-mobile, 1600px, 18px, 30px);
}

.text-huge,
.block-cta p {
  @include text-huge();
  margin: 0;
}

.block-cta.block-cta-big {
  .content {
    display: grid;
    grid-gap: 6rem;
    max-width: 110rem;

    @media (max-width: 700px) {
      grid-gap: 4rem;
    }
  }

  h2 {
    @include heading-150();
    margin: 0;
  }

  .image {
    background-color: var(--color-petrol);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  img {
    opacity: 0.2;
  }
}
