.block-title-content-cols-30 {
  h2 {
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-medium);
  }

  .cols {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 980px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 760px) {
      grid-template-columns: 1fr;
    }
  }

  .col {
    background-color: var(--color-light-mint);
    display: flex;
    flex-wrap: wrap;
    padding: 4.5rem 3.5rem;

    p {
      color: var(--color-text);
      font-size: var(--font-size-16);
      margin-bottom: 2rem;
      margin-top: 0;
    }

    p:last-child {
      margin: 0;
    }

    @media (max-width: $container-mobile) {
      padding: 4rem 3rem;
    }
  }
}
