@mixin heading-110() {
  // stylelint-disable-next-line
  font-size: clamp-calc($container-mobile, 1600px, 42px, 110px);
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.01em;
  line-height: 1.23;
  max-width: 110rem;
}

.heading-110 {
  @include heading-110();
}
