@mixin link-underlined() {
  --color-underlined: var(--color-link-underlined);
  --color-underlined-underline: var(--color-link-underlined-underline);
  --color-underlined-hover: var(--color-link-underlined-hover);
  --color-underlined-hover-underline: var(--color-link-underlined-underline-hover);
  color: var(--color-underlined);
  font-family: var(--font-heading);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-semibold);
  text-decoration: underline;
  text-decoration-color: var(--color-underlined-underline);
  text-underline-offset: 1.2rem;
  transition: all $transition-duration ease-in-out;

  &:hover,
  &:focus {
    color: var(--color-underlined-hover);
    text-decoration-color: var(--color-underlined-hover-underline);
  }
}

.link-underlined {
  @include link-underlined();
}
