@mixin list-inside-blocks() {
  ul,
  ol {
    list-style-position: outside;
  }

  ul {
    list-style-type: '\2022  ';
    padding-inline-start: 1em;
  }

  ol {
    padding-inline-start: 1.25em;
  }

  // Colorized markers
  li::marker {
    font-family: inherit;
  }
}
