@mixin text-gradient-light() {
  background-image: linear-gradient(-45deg, var(--color-gradient-shade-5), var(--color-gradient-shade-6));
}

@mixin text-gradient() {
  animation-fill-mode: forwards;
  background-clip: text;
  // stylelint-disable-next-line
  background-image: linear-gradient(-45deg, var(--color-gradient-shade-1), var(--color-gradient-shade-2));
  background-size: 100% auto;
  opacity: 1;
  -webkit-text-fill-color: transparent;

  &.has-text-gradient-light {
    @include text-gradient-light();
  }

  a {
    text-decoration: none;
  }
}

.has-text-gradient {
  @include text-gradient();
}

.global-link:focus + .image + .has-text-gradient-light,
.global-link:hover + .image + .has-text-gradient-light {
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-name: shine;
  animation-timing-function: linear;
  background-image: linear-gradient(-45deg, var(--color-gradient-shade-3), var(--color-gradient-shade-2), var(--color-gradient-shade-2), var(--color-gradient-shade-4));
  background-size: 100% auto;
}

.global-link:focus + .has-duotone,
.global-link:hover + .has-duotone {
  // stylelint-disable-next-line
  filter: url(#duotone-dude-brand-bright);
}

.has-text-gradient:focus,
.has-text-gradient:hover,
.global-link:focus + .has-duotone + .has-text-gradient,
.global-link:hover + .has-duotone + .has-text-gradient {
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-name: shine;
  animation-timing-function: linear;
  background-image: linear-gradient(-45deg, var(--color-gradient-shade-3), var(--color-gradient-shade-2), var(--color-gradient-shade-2), var(--color-gradient-shade-4));
  background-size: 100% auto;
}

@keyframes shine {
  0% {
    background-size: 100% auto;
  }

  100% {
    background-size: 500% auto;
  }
}
