// Editor exceptions below
// These styles are NO USE to front-end
// Need to be right after general, because after typography comes block styles

// stylelint-disable no-descending-specificity, selector-max-specificity, selector-max-combinators, selector-max-class, selector-max-compound-selectors, max-line-length, selector-max-pseudo-class

// Reset admin lists
.edit-post-layout__metaboxes ul,
.edit-post-layout__metaboxes ol,
.wp-admin .edit-post-sidebar ul,
.wp-admin .edit-post-sidebar ol {
  list-style: none;
  padding-left: 0;
}

// Remove 28px margin between blocks
html :where(.wp-block) {
  margin-bottom: 0;
  margin-top: 0;
}

body {
  @include color-scheme-dark();
  margin: 0;
}

// WordPress editor dark theme support
body.is-dark-theme .editor-styles-wrapper {
  // Override color variables for dark editor theme
  --color-heading: #fff;
  --color-paragraph: #dcdde0;
  --color-text: #fff;
  --color-text-block: #fff;

  // Ensure text color is applied
  color: #dcdde0;
}

// Use ACF defined font styles in ACF fields
.wpseo-metabox-root *,
.acf-fields *:has(:not([class^='acf-'])) {
  // stylelint-disable-next-line
  color: inherit;
  // stylelint-disable-next-line
  font-family: inherit;
  font-size: unset;
}

.acf-input .description {
  color: var(--color-black);
}

// stylelint-disable-next-line
.wpseo-metabox-content button *,
.wpseo-metabox-content button {
  // stylelint-disable-next-line
  font-size: 14px !important;
}

// Fix acf icons visibility issue
.acf-icon {
  // stylelint-disable-next-line
  z-index: 5555 !important;
}

// Fix link colors in sidebar
.edit-post-post-link__preview-link-container a,
.editor-post-link a {
  // stylelint-disable-next-line
  color: inherit;
  text-decoration: inherit;
}

.editor-styles-wrapper {
  // Import typography related styles inside blocks
  @import 'layout/typography';

  // Import gravity forms inside Gutenberg editor
  @import 'features/wpforms';

  // Dark mode color variables for editor (ensures visibility on dark backgrounds)
  --color-heading: var(--color-white);
  --color-paragraph: var(--color-iron);
  --color-text: var(--color-white);
  --color-text-block: var(--color-white);

  // Background
  background-color: var(--color-background-block);

  // Ensure all text is visible on dark background
  color: var(--color-paragraph);

  // Prevent horizontal scrolling
  overflow-x: hidden;

  // Placeholders should be visible
  [data-rich-text-placeholder] {
    // stylelint-disable-next-line
    color: rgb(255 255 255 / 0.5) !important;
  }

  .block-editor-rich-text__editable[data-empty='true']::before,
  .rich-text[data-empty='true']::before {
    // stylelint-disable-next-line
    color: rgb(255 255 255 / 0.5) !important;
  }

  // Post title should be white
  .editor-post-title,
  .editor-post-title__input,
  .wp-block-post-title {
    // stylelint-disable-next-line
    color: #fff !important;
  }

  // Block appender placeholder
  .block-editor-default-block-appender__content {
    // stylelint-disable-next-line
    color: rgb(255 255 255 / 0.5) !important;
  }

  // Override WordPress editor margins to match front-end typography
  // Using :where() for zero specificity so block-specific styles can override
  :where(.block-editor-block-list__layout),
  :where(.is-root-container) {
    // Headings - target both native and rich-text variants
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .wp-block-heading {
      margin-bottom: var(--margin-between-paragraphs);
      margin-top: var(--margin-between-paragraphs);

      &:first-child {
        margin-top: 0;
      }
    }

    // Paragraphs
    p,
    .wp-block-paragraph {
      margin-bottom: 2.9rem;
      margin-top: 2.9rem;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    // Lists
    ul,
    ol,
    .wp-block-list {
      margin-bottom: var(--margin-between-paragraphs);
      margin-top: var(--margin-between-paragraphs);

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // Force certain font styles on editor
  .prefix {
    @include prefix();
  }

  .block-form {
    @import 'layout/forms';
  }

  // Fix padding for certain native blocks in article view
  .wp-block-text-columns,
  .wp-block-gallery,
  .wp-block.editor-post-title {
    @media (max-width: ($width-max-article + 40px)) {
      padding-left: var(--padding-container-horizontal);
      padding-right: var(--padding-container-horizontal);
      width: 100%;

      &.alignleft,
      &.alignright,
      &.alignwide,
      &.alignfull {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  // Fix stacked padding in editor
  .wp-block-acf-process + .wp-block-acf-references .block.has-unified-padding-if-stacked > .container,
  .wp-block-acf-list + .wp-block-acf-reference-quotes .block.has-unified-padding-if-stacked > .container,
  .wp-block-acf-hero-content-image + .wp-block-acf-title-content-50-50 .block.has-unified-padding-if-stacked > .container {
    padding: var(--padding-container-vertical) var(--padding-container-horizontal);
  }

  // Unified padding fixes
  .wp-block-acf-title-content-50-50 + .wp-block .has-unified-padding-if-stacked .container {
    padding-top: 0;

    // stylelint-disable-next-line
    ul {
      margin-top: 0;
    }
  }
}

// Full width image should be always without paddings
.wp-block[data-align='full'] > .wp-block-image {
  padding-left: 0;
  padding-right: 0;
}

// Full width gallery should be always be with paddings
.wp-block[data-align='full'] > .wp-block-gallery {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);

  &.alignfull {
    padding-left: var(--padding-container-horizontal);
    padding-right: var(--padding-container-horizontal);
  }
}

// Wide gallery fix for mobile editor
.wp-block[data-align='wide'] > .wp-block-gallery {
  width: 100%;
}

// Fix alignleft and alignright figcaption width
// Hack for achieving the same than in gutenberg-helpers.js
[data-align='right'] figcaption,
[data-align='left'] figcaption {
  margin-left: auto;
  margin-right: auto;

  // Hack for keeping figcaption from flowing over floated image
  // This variable is set inline to the corresponding figure with gutenberg-helpers.js
  // stylelint-disable-next-line csstools/value-no-unknown-custom-properties
  max-width: var(--width-child-img);
  text-align: center;
}

// Default editor blocks
.is-root-container > .wp-block {
  font-family: var(--font-paragraph);

  // Font smoothing
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  // stylelint-disable-next-line value-keyword-case
  text-rendering: geometricPrecision;

  // Full width block
  &[data-align='full'] {
    max-width: $width-full;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  // Wide width block
  &[data-align='wide'] {
    max-width: $width-wide;
    width: 100%;

    @media (min-width: 870px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// stylelint-disable-next-line selector-attribute-quotes
.wp-block[data-type^='acf'] {
  // Reset 28px gap that comes from wp-includes/css/dist/edit-post/classic.css
  margin-bottom: 0;
  margin-top: 0;

  // Allow ACF blocks to be full width by default
  max-width: 100%;
}

// Reset minus margins in Gutenberg editor
.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .wp-block[data-align='full'] {
  margin-left: unset;
  margin-right: unset;
}

// Article view main title in Gutenberg editor
.editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper .editor-post-title {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  max-width: $width-max-article;
  // stylelint-disable-next-line value-keyword-case
  text-rendering: geometricPrecision;
}

// Enable fonts in articles and Gutenberg editor in article view
.is-root-container > .wp-block.block-editor-rich-text__editable,
.is-root-container > .block-editor-rich-text__editable,
.is-root-container .wp-block.wp-block-quote,
.is-root-container .wp-block[data-type^='core']:not([data-type='core/heading']),
.is-root-container [contenteditable] p {
  font-family: var(--font-paragraph);

  // Font smoothing
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  max-width: $width-max-article;

  // stylelint-disable-next-line value-keyword-case
  text-rendering: geometricPrecision;
}

// Headings should use heading font
.is-root-container .wp-block[data-type='core/heading'] {
  font-family: var(--font-heading);

  // Font smoothing
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  // stylelint-disable-next-line value-keyword-case
  text-rendering: geometricPrecision;
}

// Pricing page gradient background toggle (controlled via post meta)
.editor-styles-wrapper.has-pricing-gradient {
  // stylelint-disable-next-line
  background-color: #1c1e26 !important;
  // stylelint-disable-next-line
  background-image: linear-gradient(160deg, #1e4348 0%, #1c1e26 50%) !important;
}

.editor-styles-wrapper.has-pricing-gradient .block,
.editor-styles-wrapper.has-pricing-gradient .wp-block,
.editor-styles-wrapper.has-pricing-gradient section {
  // stylelint-disable-next-line
  background-color: transparent !important;
  // stylelint-disable-next-line
  background-image: none !important;
}

// Force white colors for all elements on pricing page (dark gradient background)
// stylelint-disable-next-line no-duplicate-selectors
.editor-styles-wrapper.has-pricing-gradient {
  // Override CSS variables for dark background
  --color-heading: #fff;
  --color-paragraph: rgb(255 255 255 / 0.8);
  --color-text: rgb(255 255 255 / 0.8);

  // Post title
  .editor-post-title,
  .editor-post-title__input,
  .wp-block-post-title {
    // stylelint-disable-next-line
    color: #fff !important;
  }

  // Placeholders
  [data-rich-text-placeholder],
  .block-editor-rich-text__editable[data-empty='true']::before,
  .rich-text[data-empty='true']::before {
    // stylelint-disable-next-line
    color: rgb(255 255 255 / 0.5) !important;
  }

  // All headings
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .wp-block-heading {
    // stylelint-disable-next-line
    color: #fff !important;
  }

  // All paragraphs and text
  p,
  .wp-block-paragraph,
  li,
  span,
  .rich-text {
    // stylelint-disable-next-line
    color: rgb(255 255 255 / 0.8) !important;
  }

  // Block appender and inserter
  .block-editor-default-block-appender__content,
  .block-editor-inserter__toggle {
    // stylelint-disable-next-line
    color: rgb(255 255 255 / 0.5) !important;
  }
}

// ACF blocks should have full width in editor
// stylelint-disable-next-line selector-not-notation
.block-editor-block-list__layout.is-root-container > :where(:not(.alignleft):not(.alignright):not(.alignfull)):has(.acf-block-preview) {
  max-width: 100%;
}

// Remove global padding for ACF blocks
:where(.editor-styles-wrapper) .has-global-padding:has(.acf-block-preview) {
  padding-left: 0;
  padding-right: 0;
}
