// stylelint-disable no-descending-specificity
// Default links everywhere (exclude button links)
.site-main,
.block-editor-rich-text__editable {
  a {
    @include link();
  }
}

.block-editor-rich-text__editable a:not(.wp-block-button__link, .button) {
  @include link();
}

// Define elements where you do not want to use default link styles
.wp-block-button,
.button-wrapper,
.head,
.footer-columns,
.col-post,
.col-reference,
.entry-footer,
.site-header,
.site-footer,
.block-blog-upsell,
.author-card {
  a {
    text-decoration: none;
  }
}
