// CSS Variables for responsive paddings and margins
// Using pixels instead of rems for consistent editor/front-end rendering
:root {
  // Gaps
  --grid-gap: 48px;

  // Paddings
  --padding-container-horizontal: 20px;
  --padding-container-horizontal-large: 64px;
  --padding-container-vertical: 64px;
  --padding-site-header-vertical: 66px;
  --padding-block: 80px;

  // Margins
  --margin-between-text-elements: 40px;
  --margin-wp-block-image: 40px;
  --margin-between-paragraphs: 27px;

  // Large screens
  @media (min-width: 1200px) {
    --padding-container-vertical: 170px;
  }

  // Mid-sized screens
  @media (max-width: $width-grid-base + 150px) {
    --padding-container-horizontal: 64px;
  }

  @media (max-width: 800px) {
    --padding-container-horizontal: 40px;
  }

  // When navigation transforms to a responsive hamburger menu
  @media (max-width: 600px) {
    --padding-site-header-vertical: 20px;
  }

  // iPad
  @media (max-width: $container-ipad-landscape) {
    --grid-gap: 32px;
  }

  @media (max-width: $container-ipad) {
    --grid-gap: var(--padding-container-horizontal);
    --padding-container-vertical: 60px;
  }

  // Between iPad and a mobile phone
  @media (max-width: 600px) {
    --padding-block: 60px;
    --padding-container-horizontal: 15px;
  }

  // Vars in mobile
  @media (max-width: $container-mobile) {
    --padding-container-vertical: 60px;
  }
}
