@mixin box-reference($light: false) {
  position: relative;

  .meta-tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    // Text based list with commas:
    li {
      color: var(--color-text);
      font-size: var(--font-size-16);
    }

    li:first-child {
      text-transform: capitalize;
    }

    li::after {
      content: ', ';
      display: inline-flex;
      margin-right: .5rem;
    }

    li:last-child::after {
      content: '';
    }
  }

  .vimeo-player,
  .image {
    // Default aspect ratio
    @include aspect-ratio(1, 1);
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .global-link {
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 1;
  }

  // stylelint-disable-next-line no-descending-specificity
  &:nth-of-type(2n) .vimeo-player,
  &:nth-of-type(2n) .image {
    @include aspect-ratio(600, 700);
  }

  // stylelint-disable-next-line no-descending-specificity
  h3 {
    @include heading-38();
  }

  // stylelint-disable
  // "Pill list"
  // .meta-tags {
  //   gap: 1rem;

  //   li {
  //     background-color: var(--color-light-blue);
  //     border-radius: 30px;
  //     font-size: var(--font-size-16);
  //     padding: 2px 15px;
  //   }
  // }

  @if $light {
    .image > span {
      color: var(--color-white);
    }
  }
}

.col-reference {
  @include box-reference();
}

.col-reference-list {
  @include box-reference($light: true);
}

// Don't add duotone if not hovering or focusing the column
.col:not(:hover):not(:focus) .image.has-duotone {
  filter: unset;
}

// Span label in hover
.cols .col .image > span {
  @include cubic-bezier($property: opacity);
  color: var(--color-white);
  font-size: var(--font-size-26);
  font-weight: var(--font-weight-semibold);
  opacity: 0;
  position: relative;
  z-index: 3;
}

.global-link:focus + .image > span,
.global-link:hover + .image > span {
  opacity: 1;
}

.col > .image {
  align-items: center;
  display: flex;
  justify-content: center;
}

.col-post,
.col-reference {
  .global-link:focus + .image > img,
  .global-link:hover + .image > img {
    opacity: .8;
  }

  .image > img {
    @include cubic-bezier($property: opacity);
  }
}

// Video background
.col-reference .video {
  iframe {
    height: 100vh;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 125vw;

    @media (max-width: $container-ipad) {
      width: 200vw;
    }
  }
}

.col-reference.has-video .vimeo-player {
  height: 0;
  z-index: 1;
}

.col-reference.has-video .js-video .vimeo-player {
  opacity: 0;
  visibility: hidden;
}

.col-reference.has-video * {
  transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
}

.col-reference.has-video .is-ready .js-video .vimeo-player {
  opacity: 1;
  visibility: visible;
}

.col-reference.has-video .global-link {
  display: none;
}

.col-reference .play-button-container {
  position: relative;
  z-index: 1;
}

// When the reference video is playing
.col-reference.playing .video iframe {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  transform: unset;
  width: 100vw;
}

// Dark shade over video when not playing
// .col-reference.has-video:not(.playing) .is-ready .js-video .vimeo-player {
//   background-color: var(--color-black);
//   opacity: .5;
// }

.col-reference.has-video:not(.playing) button.play-reference-video {
  .play-label {
    @include screen-reader-text();
  }

  .icon-wrapper {
    transform: scale(3);

    &:hover .icon-wrapper,
    &:focus .icon-wrapper {
      border-color: transparent transparent transparent var(--color-petrol);
      transform: scale(3.2);
    }
  }
}

.col-reference:not(.playing) .image.is-ready picture {
  opacity: 0;
}

body.is-playing-reference {
  button.play-reference-video {
    background-color: var(--color-black);
    bottom: 0;
    padding: 2rem;
  }

  .block.block-references {
    overflow: visible;
    padding: 0;
    position: relative;

    > .container {
      max-width: 100%;
      padding: 0;
      position: static;
    }

    // Things to be hidden when playing
    picture,
    .has-text-gradient,
    .meta-tags,
    .logos,
    .block-heading {
      display: none;
    }

    .col.col-reference {
      height: 100vh;
      opacity: 0;
      width: 100vw;
    }

    .col.col-reference.has-video.playing {
      opacity: 1;
    }

    .col-reference > .image,
    .video,
    .col-reference,
    .has-video {
      overflow: visible;
      position: static;
    }

    .cols-two {
      background-color: var(--color-black);
      height: 100vh;
      width: 100vw;
    }

    .vimeo-player {
      height: 100vh;
      width: 100vw;
    }

    .image.image-background.playing {
      align-items: flex-start;
      position: relative;
      z-index: 999;
    }
  }
}
